
<div class="row-fluid">
<%if user_signed_in? %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Language', 'Speakers (in millions)'],
            ['Total',  <%=current_user.space%> + <%=current_user.allocated_space%>],
            ['used', <%=current_user.allocated_space%>],
        ]);

        var options = {
            legend: 'none',
            pieSliceText: 'label',
            pieStartAngle: 100
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
<div id="piechart" style="width: 400px; height: 300px; margin-left: 500px; margin-top: -70px"></div>
      <%= form_for :resume, html: { multipart: true } do |f| %>
          <%= f.file_field :attachment  %>
          <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
      </div>

<% if !flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
  <tr>

    <th>Name</th>
    <th>Download </th>
    <th>Uploaded</th>
    <th>Size</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @resumes.each do |resume| %>
      <tr>
        <td><%= truncate(strip_tags(resume.name), :length => 30) %></td>
        <td><%= link_to "Download Now", resume.attachment_url %></td>
        <td><%= distance_of_time_in_words(resume.created_at, Time.now) %> ago</td>
        <td><%= number_with_precision(resume.file_size/1024/1024.to_f, :precision => 3) %> mb</td>

        <td><%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
 <%- else %>
      <%= render 'resumes/slider' %>
<%- end %>

</div>