<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <%=image_tag ("m1.png"),:class=>"img-circle" , :style => "height :150px; width :150px"%>
      <h2 >Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p>
        <a class="btn btn-default" role="button" href="#">View details »</a>
      </p>
    </div>
    <div class="col-lg-4">
      <%=image_tag ("cloud.png"),:class=>"img-circle" , :style => "height :150px; width :150px"%>
      <h2>Remote Storage</h2>
      <p>You can upload any kind of files any time by using our awesome service.Our application uses the remote storage for the storage purposes.Frequent backups of the data make sure the integrity and availability. <p>
        <a class="btn btn-default" role="button" href="#">View details »</a>
      </p>
    </div>
    <div class="col-lg-4">
      <%=image_tag ("drop.jpeg"),:class=>"img-circle", :style => "height :150px; width :150px"%>
      <h2>Drop Box</h2>
      <p>The safety and the security of the data has the prime importance. We use the Drobox service to store the images.You can download or upload any kind of images. Your images will be available to you any time.</p>
      <p>
        <a class="btn btn-default" role="button" href="#">View details »</a>
      </p>
    </div>

  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Security of cloud storage.
        <span class="text-muted">It'll blow your mind.</span>
      </h2>
      <p class="lead">When data is distributed it is stored at more locations increasing the risk of unauthorised physical access to the data. For example, in cloud based architecture, data is replicated and moved frequently so the risk of unauthorised data recovery increases dramatically. (e.g. disposal of old equipment, reuse of drives, reallocation of storage space) The manner that data is replicated depends on the service level a customer chooses and on the service provided. Different cloud vendors offer different service levels. Risk of unauthorized access to data can be mitigated through the use of encryption, which can be applied to data as part of the storage service or by on-premises equipment that encrypts data prior to uploading it to the cloud.</p>
    </div>
    <div class="col-md-5">
      <%=image_tag ("cloud2.jpg"), :style => "height :500px; width :500px"%>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <%=image_tag ("11.jpg"), :style => "height :500px; width :500px"%>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        All about Dropbox.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">Both the Dropbox server and desktop client software are primarily written in Python. The desktop client uses GUI toolkits such as wxWidgets and Cocoa. Other notable Python libraries include Twisted, ctypes, and pywin32. Dropbox ships and depends on the librsync binary-delta library (which is written in C)</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        And lastly,
        <span class="text-muted">Here we are</span>
      </h2>
      <p class="lead">The distinction between operating system and middleware functionality is, to some extent, arbitrary. While core kernel functionality can only be provided by the operating system itself, some functionality previously provided by separately sold middleware is now integrated in operating systems. A typical example is the TCP/IP stack for telecommunications, nowadays included in virtually every operating system.</p>
    </div>
    <div class="col-md-5">
      <%=image_tag ("it.jpg"), :style => "height :500px; width :500px"%>
    </div>
  </div>
  <hr class="featurette-divider">

</div>

