<ul class="nav ">
  <li class="active">
    <%= link_to 'Home', '#'  %>
  </li>
  <li>
    <%= link_to 'Contact Us', '#'  %>
  </li>
  <li>
    <a href="#">FAQs</a>
  </li>


</ul>

<ul class="nav pull-right">
  <% if user_signed_in?  %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
      </li>
      <li>
        <%= link_to('Edit account', edit_user_registration_path) %>
      </li>


  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
      <li>
        <%= link_to('Sign up', new_user_registration_path)  %>
      </li>
  <% end %>

</ul>