

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to 'Cloud Storage', resumes_path, :class=>"brand brand-bootbus" %>
      <!-- Below button used for responsive navigation -->
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Start: Primary navigation -->
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <% if user_signed_in? && current_user.role == "user" %>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
              </li>
              <li>
                <%= link_to('Edit account', edit_user_registration_path) %>
              </li>
              <% elsif user_signed_in? && current_user.role == "admin" %>
              <li>
                <%= link_to 'Manage Users', managingusers_path %>
              </li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
              </li>
              <li>
                <%= link_to('Edit account', edit_user_registration_path) %>
              </li>
          <% else %>
              <li>
                <%= link_to('Sign in', new_user_session_path)  %>
              </li>
              <li>
                <%= link_to('Sign up', new_user_registration_path)  %>
              </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>